.input {

    &-group {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    &-error {
        border: 1px solid red;
    }

    &-invalid {
        & .message {
            color: #EB0600;
            font-size: 13px;
            font-weight: 500;
        }
    }
}

input {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
}